.nav {
  flex: 1 1 auto;
  margin: 0 30px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* main navigation */
.menu a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}
.menu a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.menu a::after {
  transition: 0.3s;
}
.nav a:hover::before {
  left: 0;
  width: 100%;
}
/* dropdown item */
.drop {
  position: relative;
}
.drop > a::before {
  display: none;
}
/* dropdown arrow */
.drop span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.submenu {
  position: absolute;
  top: 150%;
}
.submenu li {
  margin-bottom: 15px;
}
/* dropdown click */
.active .submenu {
  animation: show 500ms 100ms 1 both;
}

.active span {
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
}
/* burger */
.burger {
  display: block;
  position: relative;
  max-width: 50px;
  height: 50px;
  flex: 0 0 50px;
  cursor: pointer;
  z-index: 3;
  order: 1;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  left: 5px;
  background-color: #fff;
  transition: 0.3s;
}
.burger::after {
  top: 15px;
}
.burger::before {
  bottom: 15px;
}
.burger.show::after {
  top: 25px;
  transform: rotate(45deg);
}
.burger.show::before {
  top: 25px;
  transform: rotate(-45deg);
}

@keyframes show {
  from {
    opacity: 0;
  }
  50% {
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}
@keyframes showMobile {
  from {
    transform: rotate(-90deg) translateY(0);
  }
  50% {
    transform: rotate(-90deg) translateY(10px);
  }
  to {
    transform: rotate(-90deg) translateY(5px);
  }
}
.mobileMenu.show {
  transform: translateX(0);
}
@media (max-width: 992px) {
  .nav {
    margin: 0;
    flex: 0 0 50px;
  }
  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 100px 50px 50px 50px;
    background-color: black;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .mobileMenu li {
    margin-bottom: 20px;
  }
  .submenu {
    top: 5px;
    left: 110%;
  }
  .drop {
    display: flex;
    align-items: center;
  }
  .drop span {
    position: static;
    margin-left: 5px;
    transform: rotate(-90deg) translateX(0);
  }
  .active span {
    animation: showMobile 500ms 1 both;
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .mobileMenu {
    width: 100%;
  }
}
