.nav {
  flex: 1 1 auto;
}
.nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
/* main navigation */
.nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}
.nav a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
.nav a::after {
  transition: 0.3s;
}
.nav a:hover::before {
  left: 0;
  width: 100%;
}
/* dropdown item */
.drop {
  position: relative;
}
.drop > a::before {
  display: none;
}
.drop span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.submenu {
  position: absolute;
  top: 150%;
}
.submenu li {
  margin-bottom: 15px;
}
/* dropdown click */
.active .submenu {
  animation: show 500ms 100ms 1 both;
}

.active span {
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}
