body {
  font-family: Roboto;
}
.app {
  --color: white;
  --menu: black;
  color: var(--color);
}
.app.light {
  --color: black;
  --menu: white;
}
.swiper-wrapper {
  min-height: 100vh;
}
.title {
  --size: 100px;
  position: relative;
  display: inline-block;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);
}
.title .cross {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  object-fit: contain;
  object-position: center;
  z-index: 3;
}
footer {
  position: relative;
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: white;
}
footer:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  top: 10px;
  left: 5%;
  background-color: #fff;
}
footer span {
  color: rgba(255, 255, 255, 0.5);
}
footer a {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.3s;
}
footer a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
